.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg,#ff82df, $secondary-color);
    padding: $main-padding;
    &__text {
        display: flex;
        gap: 30px;
        align-items: center;
    }
    &__links {
        display: flex;
        justify-content: center;
        gap: 15px;
    }
}