.main {
    &__container {
        height: 1000px;
    }
    &__caroussel {
        display: flex;
        max-height: max-content;
        gap: 10px;
        align-items: center;
        margin: 0px 150px;
        &__img {
            width: 100%;
            max-width: 500px;
            & img {
                width: 100%;
            }
        }
    }
}